---
---
<footer class="bg-transparent text-gray-400 py-12">
  <div class="container mx-auto px-4 text-center">
    <img
      src="/images/LogoCvOP.png"
      alt="Logo Emerson Reyes"
      width="120"
      class="border border-zinc-800 rounded-full mb-3 mx-auto shadow-lg"
    />
    <p class="text-white font-bold text-xl mb-1">
      Emerson Fabián Reyes Arias
    </p>
    <p class="text-gray-400 text-sm mb-1">Desarrollador de Software</p>
    <div class="flex items-center justify-center gap-4 text-2xl mt-4">
      <a href="https://www.facebook.com/luisfavian.avila/" class="text-blue-500 hover:text-blue-400 transition duration-300" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/emerson_15a/" class="text-pink-500 hover:text-pink-400 transition duration-300" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://github.com/152004E" class="text-white hover:text-gray-300 transition duration-300" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
  </div>
</footer>
